/* Universal styles */
* {
  margin: 0;
  padding: 0;
}
/* Main section style */
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* Shared styles */
.button-primary {
  border-radius: 8px;
  border: 0px;
  background: #ff900e;
  color: #fff;
  text-align: center;
  font-family: "Work Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 50px;
  padding: 20px 25px;
}

/* Header Section style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav > ul {
  display: flex;
  align-items: center;
}
li a {
  text-decoration: none;
  color: #424242;
}
ul li {
  font-family: "Work Sans";
  font-size: 1.1rem;
  font-weight: 500;
  list-style: none;
  margin-right: 50px;
}
.website-title {
  color: #131313;
  text-align: center;
  font-family: "Work Sans";
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Banner section style */
.banner-content {
  width: 862px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  text-align: center;
  font-family: "Work Sans";
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 100px;
  margin-bottom: 25px;
}
.banner-description {
  color: #727272;
  text-align: center;
  font-family: "Work Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}
.banner img {
  width: 100%;
}

/* Teams Container */

.teams-container {
  display: flex;
  align-items: center;
  margin-top: 5.3rem;
}
.teams-images-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.8rem;
}
.teams-content {
  padding-left: 74px;
}
.teams-content-title {
  max-width: 468px;
}
.teams-content-title .word-quick-list {
  color: #727272;
  font-family: "Work Sans";
  font-size: 2.8rem;
  font-weight: 500;
}
.teams-content-title .word-of-our {
  color: #131313;
  font-family: "Work Sans";
  font-size: 2.8rem;
  font-weight: 700;
  padding-left: 0.3rem;
}
.teams-content-title .word-features {
  color: #ff900e;
  font-family: "Work Sans";
  font-size: 2.8rem;
  font-weight: 700;
}
.teams-content-description {
  margin-top: 1.4rem;
  max-width: 537px;
  color: #727272;
  font-family: "Work Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem; /* 162.5% */
  margin-bottom: 2rem;
}

/* features container styles */

.features {
  display: flex;
  gap: 145px;
  margin-top: 130px;
}
.features-container-title {
  max-width: 468px;
  color: #131313;
  font-family: "Work Sans";
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 25px;
  border-left: 5px solid #ff900e;
  padding-left: 22px;
}
.features-container-description {
  max-width: 586px;
  color: #727272;
  font-family: "Work Sans";
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.features-container .features-card-container {
  padding: 30px 42px 30px 30px;
  margin-bottom: 20px;
  width: 586px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.features-card-container h4 {
  color: #131313;
  font-family: "Work Sans";
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.features-card-container p {
  max-width: 514px;
  color: #727272;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
}
.features-images img {
  height: 982px;
}
.features-images .ten-years-badge {
  border-radius: 8px;
  background: #ff900e;
  width: 342px;
  height: 200px;
  text-align: center;
  position: relative;
  bottom: 130px;
  right: 90px;
}
.ten-years-badge h2 {
  color: #fff;
  text-align: center;
  font-family: "Work Sans";
  font-size: 4.06rem;
  font-weight: 700;
  padding-top: 45px;
}
.ten-years-badge p {
  color: #fff;
  font-family: "Work Sans";
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 40px;
}

/* facts section style */

.facts-section-title {
  color: #131313;
  font-family: "Work Sans";
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}
.facts-section-description {
  max-width: 33.8rem;
  color: #727272;
  font-family: "Work Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 100px;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 45px 35px 60px 35px;
}
.facts-card-container .card-stats {
  color: #424242;
  text-align: center;
  font-family: "Work Sans";
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.facts-card-container .card-title {
  color: #727272;
  font-family: "Work Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Sponsor section style */
.sponsors-container {
  align-items: center;
}
.sponsor-container-title {
  margin-top: 150px;
  text-align: center;
  color: #131313;
  font-family: "Work Sans";
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
}
.sponsor-container-description {
  color: #727272;
  text-align: center;
  font-family: "Work Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 50px;
}
.sponsors-brand-images {
  display: flex;
  justify-content: space-between;
}

/* footer section style */
footer {
  max-width: 1440px;
  margin: 0 auto;
}
.footer-container {
  margin-top: 130px;
  margin-bottom: 100px;
  border-radius: 8px;
  background: #fff4e7;
  text-align: center;
}
.footer-container > p {
  color: #424242;
  text-align: center;
  font-family: "Work Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  padding: 39px 410px 39px 410px;
}



/* Responsive Style */
/* Mobile Devices */
@media screen and (max-width: 576px) {
  /* Header Section Style */
  header {
    padding: 20px;
  }
  .website-title {
    font-size: 1.9rem;
  }
  nav {
    flex-direction: column;
    gap: 10px;
  }
  nav > ul {
    justify-content: center;
  }
  ul li {
    font-size: 0.8rem;
    margin-right: 20px;
  }
  /* Banner Section style */
  .banner-content {
    width: 85%;
  }
  .banner-title {
    margin-top: 40px;
    margin-bottom: 12px;
    font-size: 2.4rem;
  }
  .banner-description {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }
  .button-primary {
    padding: 10px 15px;
    font-size: 0.8rem;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  br {
    display: none;
  }
  /* teams section */

  .teams-container {
    margin-top: 3.3rem;
    flex-direction: column-reverse;
  }
  .teams-images-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.8rem;
  }
  .teams-content {
    padding: 0px 50px 0px 50px;
  }
  .teams-content-title .word-quick-list {
    font-size: 1.8rem;
  }
  .teams-content-title .word-of-our {
    font-size: 1.8rem;
  }
  .teams-content-title .word-features {
    font-size: 1.8rem;
  }
  .teams-content-description {
    max-width: 300px;
  }
  /* facts container styles */
  .facts-section-title {
    margin-left: 25px;
    margin-bottom: 10px;
  }
  .facts-section-description {
    margin-left: 25px;
  }
  .facts-section-description {
    max-width: 21.8rem;
    margin-bottom: 35px;
  }
  .facts-card-container {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    gap: 30px;
  }

  /* sponsor section style */

  .sponsor-container-title {
    margin-top: 60px;
  }
  .sponsor-container-description {
    margin-bottom: 25px;
  }
  .sponsors-brand-images {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .sponsors-brand-images > img {
    width: 166.757px;
    height: 50px;
  }

  /* footer section style */
  footer {
    max-width: 370px;
    margin: 0 auto;
  }
  .footer-container {
    margin: 75px 0px 65px 0px;
  }
  .footer-container > p {
    padding: 30px 20px 30px 20px;
    font-size: 1rem;
  }
}
/* Medium Devices styles */
/* Tablet Devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  /* Header Section */
  header {
    padding: 50px;
  }
  nav {
    flex-direction: column;
    gap: 20px;
  }
  nav > ul {
    justify-content: center;
  }
  /* Banner Section style */
  br {
    display: none;
  }
  .banner-content {
    width: 85%;
  }
  .banner-title {
    margin-top: 50px;
    margin-bottom: 18px;
    font-size: 3rem;
  }
  .banner-description {
    margin-bottom: 20px;
  }
  .button-primary {
    padding: 15px 20px;
    font-size: 1rem;
    margin-bottom: 32px;
  }
  .teams-container {
    flex-direction: column-reverse;
    margin-top: 3.3rem;
  }
  .teams-content {
    padding-left: 0px;
  }
  .teams-images-container {
    gap: 1.8rem;
  }
  /* facts container style */
  .facts-section-title {
    text-align: center;
    margin-bottom: 15px;
  }
  .facts-section-description {
    text-align: center;
    max-width: none;
    padding: 0px 150px 0px 150px;
    margin-bottom: 50px;
  }
  .facts-card-container {
    padding: 0px 150px 0px 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  /* Sponsors section */
  .sponsor-container-title {
    margin-top: 80px;
  }
  .sponsor-container-description {
    padding: 0px 100px 0px 100px;
    margin-bottom: 40px;
  }
  .sponsors-brand-images {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .sponsors-brand-images > img {
    width: 166.757px;
    height: 50px;
  }
  /* footer section style */
  footer {
    max-width: 750px;
    margin: 0 auto;
  }
  .footer-container {
    margin: 80px 0px 70px 0px;
  }
  .footer-container > p {
    padding: 35px 0px 35px 0px;
    font-size: 1.2rem;
  }
}
